
body {
    margin: 0;
    padding: 0;
  
    background-repeat: no-repeat;
    

}

header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

#header-second {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#first{
    font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #second{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* padding-top: 600px; */
    }
    #third{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #fourth{
        width: 100%;
        height: 700px;
        background-image: url(cream\ bg.jpg);
        
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;

    }
    #fifth{
        width: 100%;
        height: 400px;
        background-image: url(bg\ logo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        background-attachment: fixed;
        
    }
    #sixth{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    #eight{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    #grid{
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 12px;
        column-gap: 12px;
        flex-wrap: wrap;
        

    }

#parent{
    background-image: url("Caffeine\ Craze\ new.jpg");
    /* background-size: 100%;/ */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#pt{
    font-size: 24px; 
    font-weight: 600; 
    text-transform: uppercase; 
    color: #2e2e2e; 
    text-align: center;
}
#picp{
    text-align: center; 
    font-size: 16px;
    color: #555;
    max-width: 250px;
}
#resume{
    background-image: url(cream\ bg.jpg);
    width: 100%;
    height: 200px;
     display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        
}
button{
    height: 45px;
        width: 280px;
        font-size: 22px;
        background-color: transparent;
        
        border: none;
        border-radius: 20px;
        cursor: pointer;
}
footer{
        height: 200px;
        background-color: rgba(0, 0, 0, 0.882);
    display: flex;
    align-items: center;
    justify-content: space-between;
        
    }
   
